.navbar {
    background-color: #F8F8F8;
}
.navbar-default .navbar-nav li a{
    color: rgb(104, 151, 243);
}
.navbar-default .navbar-nav li a:hover{
    color: rgb(194, 218, 245);
}

.panel-heading{
    font-size: 30px;
}

.panel-body{
    font-size: 16px;
}

.col-md-6{
    font-size: 22px;
}

table {
    border-spacing: 1em 0.5em;
    padding: 1 1em 1em 0;
    border: 1px solid rgb(207, 211, 218);
    margin-left: 20px;
    margin-right: 20px;
  }

  td {
    padding:5px;
    vertical-align: middle;
  }

  th[scope = "row"]{
      background-color: aliceblue;
  }
