.navbar {
    background-color: #0a0a0a;
}
.navbar-default .navbar-nav li a{
    color: rgb(104, 151, 243);
}
.navbar-default .navbar-nav li a:hover{
    color: rgb(194, 218, 245);
}

.panel-heading{
    font-size: 40px;
}

.panel-body{
    font-size: 20px;
}

.col-md-6{
    font-size: 22px;
}
